@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: 'Inter', sans-serif;
    }

    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* *:is(:hover, :focus-visible) {
        text-decoration: none;
        outline: none;
        border: none;
    } */

    input,
    select,
    textarea {
        @apply bg-transparent border-none outline-none
    }

    input[type="file"]::-webkit-file-upload-button {
        visibility: hidden;
    }

    input[type="file"]::before {
        content: 'Masukkan File Gambar Profile';
        color: black;
        display: inline-block;
        background: none;
        outline: none;
        background-color: none;
        border: none;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        text-shadow: 1px 1px #fff;
        font-weight: 700;
        font-size: 10pt;
    }



    .container {
        @apply px-[60px] max-w-none;
        max-width: unset !important;
    }

    .section {
        @apply py-[120px];
    }

    /* HEADER */

    header.active {
        /* background-color: red; */
        box-shadow: 0px 0px 30px 0px hsla(0, 0%, 0%, 0.2) !important;
    }

}

@layer utilities {

    .span {
        @apply text-red-primary
    }

    /* INPUTS */

}

@layer components {}