@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: 'Inter', sans-serif;
        scroll-behavior: smooth;
    }

    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* *:is(:hover, :focus-visible) {
        text-decoration: none;
        outline: none;
        border: none;
    } */

    input,
    select,
    textarea {
        @apply bg-transparent border-none outline-none
    }

    input[type="file"]::-webkit-file-upload-button {
        visibility: hidden;
    }

    input[type="file"]::before {
        content: 'Masukkan File Gambar Profile';
        color: black;
        display: inline-block;
        background: none;
        outline: none;
        background-color: none;
        border: none;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        text-shadow: 1px 1px #fff;
        font-weight: 700;
        font-size: 10pt;
    }

    input[type="radio"] {
        /* display: none; */
        opacity: 0;
        accent-color: red;
        width: 20px;
        height: 20px;
        position: relative;
        left: 30px;
        border-radius: 50%;
    }

    .rating {
        display: inline-block;
        font-size: 0;
        position: relative;
        text-transform: capitalize;
        /* padding: 0 50px 8%; */
        color: gray;
    }

    .rating label {
        float: right;
        padding: 0;
        font-size: 50px;
        cursor: pointer;
    }

    .rating label::before {
        content: "\2606";
        padding-bottom: 8px;
        display: inline-block;
        transition: 0.2s;
    }

    .rating span {
        opacity: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        height: 20px;
        font-size: 1rem;
        white-space: nowrap;
        transition: 0.15s ease-out;
        pointer-events: none;
        letter-spacing: -2px;
        transform: translateY(-50%);
    }

    .rating label:hover span {
        opacity: 1;
        transform: none;
        letter-spacing: 0;
    }

    .rating input:checked~label::before {
        content: "\2605";
        color: red;
        filter: drop-shadow(0 0 4px);
        transform: rotate(.2turn);
        transition-delay: calc(0.1 * attr(data-idx integer));
    }

    .container {
        @apply px-[60px] max-w-none;
        max-width: unset !important;
    }

    .section {
        @apply py-[120px];
    }

    /* HEADER */

    header.active {
        /* background-color: red; */
        box-shadow: 0px 0px 30px 0px hsla(0, 0%, 0%, 0.2) !important;
    }

}

@layer utilities {

    .span {
        @apply text-red-primary
    }

    /* INPUTS */


    /* ALERTS */

    .alert {
        @apply fixed -right-full top-20 z-50 rounded-lg max-w-[500px] w-full;
        transition: .2s ease-in-out;
    }

    .alert.active {
        @apply right-5
    }

    .alert-danger {
        @apply bg-red-primary p-4
    }

    .alert-success {
        @apply bg-green-400 p-4
    }

    .alert-warning {
        @apply bg-yellow-400 p-4
    }

}

@layer components {}